* {
  border: none;
  font-family: monospace;
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: linear-gradient(
    30deg,
    rgba(210, 180, 120, 0.7) 0%,
    rgba(230, 160, 130, 0.7) 24.8%,
    rgba(245, 90, 38, 0.7) 25%,
    rgba(205, 70, 20, 0.7) 49.8%,
    rgba(20, 130, 65, 0.7) 50%,
    rgba(20, 130, 125, 0.7) 74.8%,
    rgba(80, 05, 0, 0.7) 75%,
    rgba(20, 05, 1, 0.7) 100%
  );
  /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#window {
  background: rgba(200, 75, 50, 0.9);
  border-radius: 0 0 15 15;
  padding: 0 10;
  font-weight: bold;
}

#workspaces button {
  padding: 0 5;
  margin: 3 5;
  border-radius: 10;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(70, 25, 0, 1);
}

#workspaces button:hover {
  color: rgba(70, 25, 0, 1);
  background: rgba(255, 255, 255, 0.4);
}

#workspaces button.active {
  background-color: rgba(255, 120, 50, 0.6);
}

#workspaces button.urgent {
  background-color: rgba(230, 40, 40, 0.6);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left {
  margin-left: 5;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right {
  margin-right: 5;
}

#clock {
  padding: 0 5;
  margin: 3 4 3 0;
  border-radius: 10;
}

#battery {
  border-radius: 8;
  padding: 0 5;
  margin: 3 0;
}

#network {
  color: white;
  border-radius: 8;
  padding: 0 5;
  margin: -8 3;
  font-size: 170%;
}

#tray {
  border-radius: 8;
  padding: 0 3;
  margin: 3 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
